* {
    box-sizing: border-box;
}

@import 'variables.scss';
body {
    margin: 0;
    padding: 0;
    background: $whiteColor;
    font-family: $regular-font;
    * {
        position: relative;
    }
}

nav {
    background: $mainColor;
    color: $whiteColor;
    @include flex(row, space-between, center);
    box-shadow: 0 0 12px $mainColor;
    height: 95px;
    z-index: 999;
    .logo-wrapper {
        font-family: $logo-font;
        padding: 20px;
        a {
            color: inherit;
            &:hover {
                text-decoration: none;
            }
            h1 {
                letter-spacing: 1.2px;
                font-size: 300%;
            }
        }
    }
    .page-title-wrapper {
        h2 {
            text-transform: uppercase;
            text-decoration: underline;
        }
    }
    .user-options {
        font-size: 120%;
        i {
            margin: 0 8px;
            cursor: pointer;
        }
        .account-settings {
            a {
                color: inherit;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .user-info {
            @include flex(row);
            display: inline-flex;
            padding-right: 20px;
            i {
                margin-right: 4px;
            }
            a {
                color: inherit;
                
                &.username {
                    @include flex(column);
                    display: inline-flex;
                    font-weight: bold;
                    margin: 0 10px;
                    
                    span.index-number {
                        font-size: 14px;
                    }
                }

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    &>div {
        @include flex();
    }
}

.container-body {
    width: 100vw;
    margin: 0;
    padding: 0;
    @include flex(row, flex-start);
}

aside.menu-column {
    height: calc(100vh - 95px);
    width: 20%;
    background: $secondaryColor;
    z-index: 998;
    padding: 20px;
    border-right: 2px solid $mainColor;
    ul.main-menu {
        margin: 0;
        padding: 0;
        list-style-type: none;
        @include flex(column, center, center);
        li.menu-option {
            display: block;
            width: 90%;
            border-bottom: 1px solid $grayColor;
            text-align: center;
            font-size: 20px;
            padding: 10px;
            font-weight: bold;
            @include flex(row, space-between, center);
            a {
                color: inherit;
                transition: all .5s;
                &:hover {
                    text-decoration: none;
                    margin-right: 10px;
                }
            }
        }
    }
}

section.dashboard {
    min-height: calc(100vh - 95px);
    width: 80%;
    @include flex(row, space-between, flex-start);

    .news-box {
        width: 50%;
    }
    .right-column {
        width: 50%;
        padding: 20px;
        @include flex(column, flex-start, center);
        .grades-table {
            width: 100%;
            table {
                tr.recent {
                    td {
                        text-transform: uppercase;
                        font-weight: bold;
                        &:first-of-type::before {
                            font-family: "FontAwesome";
                            content: "\f06a";
                            margin-right: 10px;
                        }
                    }
                }
                tr {
                    td {
                        span.grade {
                            padding: 5px;
                            &.project {
                                background: $secondaryColor;
                            }
                            &.home {
                                background: greenyellow;
                            }
                            &.colloq,
                            &.exam {
                                background: $redColor;
                                color: $whiteColor;
                            }
                        }
                    }
                }
            }
        }
        .graduate-work {
            width: 100%;
            padding: 20px;
            .work-title {
                font-size: 22px;
                font-style: italic;
            }
            .attendant-name,
            .work-grade,
            .work-ready {
                @include flex(row, space-between, center);
            }
        }
    }
}

.news-box {
    padding: 20px;
    h3.news-list-title {
        font-family: $logo-font;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    ul.news-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
            display: block;
            background: #fff;
            padding: 15px;
            box-shadow: 3px 3px 10px $mainColor;
            margin: 25px 0;
            .date-created {
                font-style: italic;
            }
            .news-content {
                font-size: 18px;
                margin: 0;
            }
            .flag {
                position: absolute;
                top: -10px;
                right: -10px;
                background: $lighterColor;
                color: $whiteColor;
                border-radius: 15px;
                padding: 5px 10px;
                font-weight: bold;
                &.red-flag {
                    background: $redColor;
                }
            }
        }
    }
}

.grades-table {
    width: 100%;
    table {
        tr.recent {
            td {
                text-transform: uppercase;
                font-weight: bold;
                &:first-of-type::before {
                    font-family: "FontAwesome";
                    content: "\f06a";
                    margin-right: 10px;
                }
            }
        }
        tr {
            td {
                span.grade {
                    padding: 10px;
                    &.project {
                        background: $secondaryColor;
                    }
                    &.home {
                        background: greenyellow;
                    }
                    &.colloq,
                    &.exam {
                        background: $redColor;
                        color: $whiteColor;
                    }
                    &.final {
                        background: black;
                        color: white;
                    }
                }
            }
        }
    }
}

section.grades {
    @include flex(column, center, center);
    min-height: calc(100vh - 95px);
    width: 80%;
    .grades-table {
        width: 90%;
    }
    .legend-info {
        background: $grayColor;
        color: $whiteColor;
        padding: 20px;
        width: 90%;
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            li {
                span {
                    margin-right: 5px;
                }
                .legend-square-project {
                    display: inline-block;
                    height: 18px;
                    width: 18px;
                    background: $secondaryColor;
                }
                .legend-square-colloq,
                .legend-square-exam {
                    display: inline-block;
                    height: 18px;
                    width: 18px;
                    background: $redColor;
                }
                .legend-square-home {
                    display: inline-block;
                    height: 18px;
                    width: 18px;
                    background: greenyellow;
                }
                .legend-square-final {
                    display: inline-block;
                    height: 18px;
                    width: 18px;
                    background: black;
                }
            }
        }
    }
}

section.graduate {
    @include flex(column, flex-start, center);
    min-height: calc(100vh - 95px);
    width: 80%;
    padding: 30px;
    .graduate-wrapper {
        text-align: left;
        width: 100%;
        margin: 10px 0;
        .graduate-label {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: bolder;
            font-size: 14px;
        }
    }
    .work-title {
        .work-title-text {
            font-size: 42px;
            font-style: italic;
            font-family: 'Anton';
        }
    }
    .work-attendant {
        font-size: 18px;
        font-weight: bold;
    }
    span.attendant-title {
        text-transform: uppercase;
        font-weight: regular;
    }
}

section.studies {
    min-height: calc(100vh - 95px);
    width: 80%;
    @include flex(column, flex-start, center);
    padding: 30px;
    table {
        width: 80%;
        th {
            background: $mainColor;
            color: $whiteColor;
        }
    }
}

section.calendar {
    min-height: calc(100vh - 95px);
    width: 80%;
    @include flex(column, flex-start, center);
    padding: 30px;
    .calendar-heading {
        @include flex(row, space-between);
        width: 100%;
        a {
            color: $mainColor;
            font-size: 20px;
            font-weight: bold;
            &:hover {
                text-decoration: none;
            }
        }
        h1 {
            font-size: 26px;
        }
    }
    table {
        width: 80%;
        td.subject {
            background: $mainColor;
            color: $whiteColor;
        }
        i {
            &.important {
                color: $secondaryColor;
            }
            &.most-important {
                color: $redColor;
            }
            &.less-important {
                color: green;
            }
        }
    }
}

section.settings {
    min-height: calc(100vh - 95px);
    width: 80%;
    @include flex(column, flex-start, center);
    padding: 30px;
    form {
        width: 80%;
    }
}

section.user-profile {
    min-height: calc(100vh - 95px);
    width: 80%;
    @include flex(row, center, center);
    padding: 30px;
    .profile-wrapper {
        @include flex(row, center, center);
        .profile-photo {
            margin-right: 20px;
            box-shadow: 7px 7px 10px gray;
        }
        .profile-description {
            background: white;
            padding: 10px;
            align-self: flex-start;
            box-shadow: 7px 7px 10px gray;
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    span.desc-category.desc-index-number {
                        font-weight: bold;
                    }
                    span.desc-value {
                        font-weight: bold;
                    }
                    &.break {
                        margin: 20px 0;
                    }
                }
            }
        }
    }
}

section.newslist {
    min-height: calc(100vh - 95px);
    width: 80%;
    @include flex(row, space-between, flex-start);
}

.hidden-content {
    display: none;
}

section.logout {
    min-height: calc(100vh - 95px);
    width: 100%;
    @include flex(row, center, center);
}
