* {
    box-sizing: border-box;
    position: relative;
}

@import 'variables.scss';
body {
    margin: 0;
    padding: 0;
    background: $whiteColor;
    font-family: $regular-font;
}

a {
    color: inherit;
    &:hover {
        text-decoration: none;
    }
}

nav {
    background-color: $mainColor;
    .navbar-brand {
        font-family: $logo-font;
        font-size: 30px;
        color: $whiteColor;
    }
}

ul.nav {
    text-transform: uppercase;
    border-top: 2px solid $secondaryColor;
    background: $mainColor;
    color: $whiteColor;
    .nav-link {
        border-radius: 0;
        &.active {
            color: $mainColor;
            background-color: $secondaryColor;
            font-weight: bold;
        }
    }
}

.news-box {
    padding: 10px;
    ul.news-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
            display: block;
            background: #fff;
            padding: 10px;
            box-shadow: 2px 2px 7px $mainColor;
            margin: 10px 0;
            .date-created {
                font-size: 12px;
                font-style: italic;
            }
            .news-content {
                margin: 0;
                font-size: 14px;
            }
        }
    }
}

.read-more {
    border-radius: 0;
}

.hidden-content {
    text-align: center;
    display: none;
}

.table {
    tr {
        td {
            vertical-align: middle;
            &:nth-child(2) {
                text-align: center;
            }
        }
    }
}

.page-heading {
    padding: 12px 0;
    background: #fff;
    color: $lighterColor;
    h1 {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 22px;
        text-align: center;
        margin: 0;
    }
}

.subheading {
    padding: 10px 10px;
    background: $lighterColor;
    color: #fff;
    h3 {
        @include flex(row, space-between, center);
        font-size: 18px;
        margin: 0;
    }
}

section.graduate,
section.studies {
    table.table {
        tr {
            &:not(:last-child) {
                border-bottom: 1px solid $grayColor;
            }
            td {
                border-top: 0;
                &:nth-child(1) {
                    background: $secondaryColor;
                    font-weight: bold;
                }
            }
        }
    }
}

section.calendar {
    table.table {
        tr {
            &:not(:last-child) {
                border-bottom: 1px solid $grayColor;
            }
            th {
                border-top: 0;
                text-align: center;
                background: black;
                color: white;
            }
            td {
                border-top: 0;
                &:nth-child(1) {
                    background: #fff;
                    font-weight: bold;
                }
                &:nth-child(2) {
                    text-align: left;
                }
                &:nth-child(3) {
                    text-align: center;
                    font-weight: bold;
                    background: #fff;
                }
            }
        }
    }
}

section.single-grade {
    .grade-heading {
        padding: 12px 0;
        background: $secondaryColor;
        color: $mainColor;
        
        h1 {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 22px;
            text-align: center;
            margin: 0;
        }
    }

    table.table.table-grades {
        tr {
            &:first-child {
                font-weight: bold;

                td:nth-child(2) {
                    background: green;
                    color: #fff;
                }
            }

            td {
                border-top: 0;
            }
        }
    }

    .list-group {
        div {
            display: none;

            table.table {
                tr {
                    td {
                        text-align: center;
                        vertical-align: middle;
                    }
                }
            }

            &.teacher-heading {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin: 10px 0;

                img {
                    width: 45%;
                    vertical-align: bottom;
                }

                h2 {
                    font-size: 20px;
                    text-transform: uppercase;
                    font-weight: bold;
                    margin: 0;
                    margin-left: 10px;
                }
            }
        }
    }
}
