@import url('https://fonts.googleapis.com/css?family=Anton|Lato:400,700&subset=latin-ext');

$regular-font: 'Lato', sans-serif;
$logo-font: 'Anton', sans-serif;
$mainColor: #022b3a;
$lighterColor: #1f7a8c;
$secondaryColor: #e8c547;
$whiteColor: #e1e5fa;
$grayColor: #4d5061;
$redColor: #dc3545;

@mixin flex($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-content: $align;
    align-items: $align;
}
