@import url("https://fonts.googleapis.com/css?family=Anton|Lato:400,700&subset=latin-ext");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: #e1e5fa;
  font-family: "Lato", sans-serif; }
  body * {
    position: relative; }

nav {
  background: #022b3a;
  color: #e1e5fa;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  box-shadow: 0 0 12px #022b3a;
  height: 95px;
  z-index: 999; }
  nav .logo-wrapper {
    font-family: "Anton", sans-serif;
    padding: 20px; }
    nav .logo-wrapper a {
      color: inherit; }
      nav .logo-wrapper a:hover {
        text-decoration: none; }
      nav .logo-wrapper a h1 {
        letter-spacing: 1.2px;
        font-size: 300%; }
  nav .page-title-wrapper h2 {
    text-transform: uppercase;
    text-decoration: underline; }
  nav .user-options {
    font-size: 120%; }
    nav .user-options i {
      margin: 0 8px;
      cursor: pointer; }
    nav .user-options .account-settings a {
      color: inherit; }
      nav .user-options .account-settings a:hover {
        text-decoration: none; }
    nav .user-options .user-info {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      align-items: center;
      display: inline-flex;
      padding-right: 20px; }
      nav .user-options .user-info i {
        margin-right: 4px; }
      nav .user-options .user-info a {
        color: inherit; }
        nav .user-options .user-info a.username {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center;
          align-items: center;
          display: inline-flex;
          font-weight: bold;
          margin: 0 10px; }
          nav .user-options .user-info a.username span.index-number {
            font-size: 14px; }
        nav .user-options .user-info a:hover {
          text-decoration: none; }
  nav > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center; }

.container-body {
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center; }

aside.menu-column {
  height: calc(100vh - 95px);
  width: 20%;
  background: #e8c547;
  z-index: 998;
  padding: 20px;
  border-right: 2px solid #022b3a; }
  aside.menu-column ul.main-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center; }
    aside.menu-column ul.main-menu li.menu-option {
      display: block;
      width: 90%;
      border-bottom: 1px solid #4d5061;
      text-align: center;
      font-size: 20px;
      padding: 10px;
      font-weight: bold;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
      align-items: center; }
      aside.menu-column ul.main-menu li.menu-option a {
        color: inherit;
        transition: all .5s; }
        aside.menu-column ul.main-menu li.menu-option a:hover {
          text-decoration: none;
          margin-right: 10px; }

section.dashboard {
  min-height: calc(100vh - 95px);
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start; }
  section.dashboard .news-box {
    width: 50%; }
  section.dashboard .right-column {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center; }
    section.dashboard .right-column .grades-table {
      width: 100%; }
      section.dashboard .right-column .grades-table table tr.recent td {
        text-transform: uppercase;
        font-weight: bold; }
        section.dashboard .right-column .grades-table table tr.recent td:first-of-type::before {
          font-family: "FontAwesome";
          content: "\f06a";
          margin-right: 10px; }
      section.dashboard .right-column .grades-table table tr td span.grade {
        padding: 5px; }
        section.dashboard .right-column .grades-table table tr td span.grade.project {
          background: #e8c547; }
        section.dashboard .right-column .grades-table table tr td span.grade.home {
          background: greenyellow; }
        section.dashboard .right-column .grades-table table tr td span.grade.colloq, section.dashboard .right-column .grades-table table tr td span.grade.exam {
          background: #dc3545;
          color: #e1e5fa; }
    section.dashboard .right-column .graduate-work {
      width: 100%;
      padding: 20px; }
      section.dashboard .right-column .graduate-work .work-title {
        font-size: 22px;
        font-style: italic; }
      section.dashboard .right-column .graduate-work .attendant-name,
      section.dashboard .right-column .graduate-work .work-grade,
      section.dashboard .right-column .graduate-work .work-ready {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: center; }

.news-box {
  padding: 20px; }
  .news-box h3.news-list-title {
    font-family: "Anton", sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .news-box ul.news-list {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .news-box ul.news-list li {
      display: block;
      background: #fff;
      padding: 15px;
      box-shadow: 3px 3px 10px #022b3a;
      margin: 25px 0; }
      .news-box ul.news-list li .date-created {
        font-style: italic; }
      .news-box ul.news-list li .news-content {
        font-size: 18px;
        margin: 0; }
      .news-box ul.news-list li .flag {
        position: absolute;
        top: -10px;
        right: -10px;
        background: #1f7a8c;
        color: #e1e5fa;
        border-radius: 15px;
        padding: 5px 10px;
        font-weight: bold; }
        .news-box ul.news-list li .flag.red-flag {
          background: #dc3545; }

.grades-table {
  width: 100%; }
  .grades-table table tr.recent td {
    text-transform: uppercase;
    font-weight: bold; }
    .grades-table table tr.recent td:first-of-type::before {
      font-family: "FontAwesome";
      content: "\f06a";
      margin-right: 10px; }
  .grades-table table tr td span.grade {
    padding: 10px; }
    .grades-table table tr td span.grade.project {
      background: #e8c547; }
    .grades-table table tr td span.grade.home {
      background: greenyellow; }
    .grades-table table tr td span.grade.colloq, .grades-table table tr td span.grade.exam {
      background: #dc3545;
      color: #e1e5fa; }
    .grades-table table tr td span.grade.final {
      background: black;
      color: white; }

section.grades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: calc(100vh - 95px);
  width: 80%; }
  section.grades .grades-table {
    width: 90%; }
  section.grades .legend-info {
    background: #4d5061;
    color: #e1e5fa;
    padding: 20px;
    width: 90%; }
    section.grades .legend-info ul {
      margin: 0;
      padding: 0;
      list-style-type: none; }
      section.grades .legend-info ul li span {
        margin-right: 5px; }
      section.grades .legend-info ul li .legend-square-project {
        display: inline-block;
        height: 18px;
        width: 18px;
        background: #e8c547; }
      section.grades .legend-info ul li .legend-square-colloq,
      section.grades .legend-info ul li .legend-square-exam {
        display: inline-block;
        height: 18px;
        width: 18px;
        background: #dc3545; }
      section.grades .legend-info ul li .legend-square-home {
        display: inline-block;
        height: 18px;
        width: 18px;
        background: greenyellow; }
      section.grades .legend-info ul li .legend-square-final {
        display: inline-block;
        height: 18px;
        width: 18px;
        background: black; }

section.graduate {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  min-height: calc(100vh - 95px);
  width: 80%;
  padding: 30px; }
  section.graduate .graduate-wrapper {
    text-align: left;
    width: 100%;
    margin: 10px 0; }
    section.graduate .graduate-wrapper .graduate-label {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: bolder;
      font-size: 14px; }
  section.graduate .work-title .work-title-text {
    font-size: 42px;
    font-style: italic;
    font-family: 'Anton'; }
  section.graduate .work-attendant {
    font-size: 18px;
    font-weight: bold; }
  section.graduate span.attendant-title {
    text-transform: uppercase;
    font-weight: regular; }

section.studies {
  min-height: calc(100vh - 95px);
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  padding: 30px; }
  section.studies table {
    width: 80%; }
    section.studies table th {
      background: #022b3a;
      color: #e1e5fa; }

section.calendar {
  min-height: calc(100vh - 95px);
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  padding: 30px; }
  section.calendar .calendar-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%; }
    section.calendar .calendar-heading a {
      color: #022b3a;
      font-size: 20px;
      font-weight: bold; }
      section.calendar .calendar-heading a:hover {
        text-decoration: none; }
    section.calendar .calendar-heading h1 {
      font-size: 26px; }
  section.calendar table {
    width: 80%; }
    section.calendar table td.subject {
      background: #022b3a;
      color: #e1e5fa; }
    section.calendar table i.important {
      color: #e8c547; }
    section.calendar table i.most-important {
      color: #dc3545; }
    section.calendar table i.less-important {
      color: green; }

section.settings {
  min-height: calc(100vh - 95px);
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  padding: 30px; }
  section.settings form {
    width: 80%; }

section.user-profile {
  min-height: calc(100vh - 95px);
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 30px; }
  section.user-profile .profile-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center; }
    section.user-profile .profile-wrapper .profile-photo {
      margin-right: 20px;
      box-shadow: 7px 7px 10px gray; }
    section.user-profile .profile-wrapper .profile-description {
      background: white;
      padding: 10px;
      align-self: flex-start;
      box-shadow: 7px 7px 10px gray; }
      section.user-profile .profile-wrapper .profile-description ul {
        margin: 0;
        padding: 0;
        list-style: none; }
        section.user-profile .profile-wrapper .profile-description ul li span.desc-category.desc-index-number {
          font-weight: bold; }
        section.user-profile .profile-wrapper .profile-description ul li span.desc-value {
          font-weight: bold; }
        section.user-profile .profile-wrapper .profile-description ul li.break {
          margin: 20px 0; }

section.newslist {
  min-height: calc(100vh - 95px);
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start; }

.hidden-content {
  display: none; }

section.logout {
  min-height: calc(100vh - 95px);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center; }
