@import url("https://fonts.googleapis.com/css?family=Anton|Lato:400,700&subset=latin-ext");
* {
  box-sizing: border-box;
  position: relative; }

body {
  margin: 0;
  padding: 0;
  background: #e1e5fa;
  font-family: "Lato", sans-serif; }

a {
  color: inherit; }
  a:hover {
    text-decoration: none; }

nav {
  background-color: #022b3a; }
  nav .navbar-brand {
    font-family: "Anton", sans-serif;
    font-size: 30px;
    color: #e1e5fa; }

ul.nav {
  text-transform: uppercase;
  border-top: 2px solid #e8c547;
  background: #022b3a;
  color: #e1e5fa; }
  ul.nav .nav-link {
    border-radius: 0; }
    ul.nav .nav-link.active {
      color: #022b3a;
      background-color: #e8c547;
      font-weight: bold; }

.news-box {
  padding: 10px; }
  .news-box ul.news-list {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .news-box ul.news-list li {
      display: block;
      background: #fff;
      padding: 10px;
      box-shadow: 2px 2px 7px #022b3a;
      margin: 10px 0; }
      .news-box ul.news-list li .date-created {
        font-size: 12px;
        font-style: italic; }
      .news-box ul.news-list li .news-content {
        margin: 0;
        font-size: 14px; }

.read-more {
  border-radius: 0; }

.hidden-content {
  text-align: center;
  display: none; }

.table tr td {
  vertical-align: middle; }
  .table tr td:nth-child(2) {
    text-align: center; }

.page-heading {
  padding: 12px 0;
  background: #fff;
  color: #1f7a8c; }
  .page-heading h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
    margin: 0; }

.subheading {
  padding: 10px 10px;
  background: #1f7a8c;
  color: #fff; }
  .subheading h3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    font-size: 18px;
    margin: 0; }

section.graduate table.table tr:not(:last-child),
section.studies table.table tr:not(:last-child) {
  border-bottom: 1px solid #4d5061; }

section.graduate table.table tr td,
section.studies table.table tr td {
  border-top: 0; }
  section.graduate table.table tr td:nth-child(1),
  section.studies table.table tr td:nth-child(1) {
    background: #e8c547;
    font-weight: bold; }

section.calendar table.table tr:not(:last-child) {
  border-bottom: 1px solid #4d5061; }

section.calendar table.table tr th {
  border-top: 0;
  text-align: center;
  background: black;
  color: white; }

section.calendar table.table tr td {
  border-top: 0; }
  section.calendar table.table tr td:nth-child(1) {
    background: #fff;
    font-weight: bold; }
  section.calendar table.table tr td:nth-child(2) {
    text-align: left; }
  section.calendar table.table tr td:nth-child(3) {
    text-align: center;
    font-weight: bold;
    background: #fff; }

section.single-grade .grade-heading {
  padding: 12px 0;
  background: #e8c547;
  color: #022b3a; }
  section.single-grade .grade-heading h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
    margin: 0; }

section.single-grade table.table.table-grades tr:first-child {
  font-weight: bold; }
  section.single-grade table.table.table-grades tr:first-child td:nth-child(2) {
    background: green;
    color: #fff; }

section.single-grade table.table.table-grades tr td {
  border-top: 0; }

section.single-grade .list-group div {
  display: none; }
  section.single-grade .list-group div table.table tr td {
    text-align: center;
    vertical-align: middle; }
  section.single-grade .list-group div.teacher-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0; }
    section.single-grade .list-group div.teacher-heading img {
      width: 45%;
      vertical-align: bottom; }
    section.single-grade .list-group div.teacher-heading h2 {
      font-size: 20px;
      text-transform: uppercase;
      font-weight: bold;
      margin: 0;
      margin-left: 10px; }
